[Desktop Entry]
Version=1.0
Name=Miguelkoin Core
Comment=Connect to the Miguelkoin P2P Network
Comment[de]=Verbinde mit dem Miguelkoin peer-to-peer Netzwerk
Comment[fr]=Miguelkoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Miguelkoin, eşten eşe kriptografik sanal para birimi
Exec=miguelkoin-qt %u
Terminal=false
Type=Application
Icon=miguelkoin128
MimeType=x-scheme-handler/miguelkoin;
Categories=Office;Finance;
StartupWMClass=Miguelkoin-qt
